body {
  height: 100%;
}

#main {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}
h3 {
    font-size: 16px;
    background: #ffe52d;
    padding: 10px;
    margin: 0px;
    color: black;
      display: flex;
  justify-content: center;
  align-content: center;
  align-items:center;
  min-height: 40px;
  text-align:center;
}
h4,h1 {
    color: #ffe81f;
}

#app {
  font-family: 'Michroma', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(201, 201, 201);
}

img {
    max-width: 100%;
}

 .router-link-exact-active .router-link-active {
    background-color: indianred;
    cursor: pointer;
  }
.btn {
    width: 100%;
}
  @media screen and (max-width: 768px) {
  
    
  }

  .home.router-link-active > a {
      color:white;
      text-decoration: none;
  }
  .home > a.router-link-active.router-link-exact-active > a {
    color:white;
    text-decoration: underline!important;
}
.router-link-active {
    text-decoration: underline;
}
  .home > a {
      text-decoration: none;
    }
